In [2]:
import pandas as pd
import plotly.express as px

In [3]:
pd.set_option('display.max_colwidth', 1000)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 100)

In [4]:
data_raw = pd.read_csv('../bases/2023_nba_player_stats.csv', low_memory=False)

In [5]:
data_raw.head()

                     PName POS Team  Age  GP   W   L     Min   PTS  FGM   FGA   FG%  3PM  3PA   3P%  FTM  FTA   FT%  OREB  DREB  REB  AST  TOV  STL  BLK   PF    FP  DD2  TD3  +/-
0             Jayson Tatum  SF  BOS   25  74  52  22  2732.2  2225  727  1559  46.6  240  686  35.0  531  622  85.4    78   571  649  342  213   78   51  160  3691   31    1  470
1              Joel Embiid   C  PHI   29  66  43  23  2284.1  2183  728  1328  54.8   66  200  33.0  661  771  85.7   113   557  670  274  226   66  112  205  3706   39    1  424
2              Luka Doncic  PG  DAL   24  66  33  33  2390.5  2138  719  1449  49.6  185  541  34.2  515  694  74.2    54   515  569  529  236   90   33  166  3747   36   10  128
3  Shai Gilgeous-Alexander  PG  OKC   24  68  33  35  2416.0  2135  704  1381  51.0   58  168  34.5  669  739  90.5    59   270  329  371  192  112   65  192  3425    3    0  149
4    Giannis Antetokounmpo  PF  MIL   28  63  47  16  2023.6  1959  707  1278  55.3   47  171  27.5  498  772  64.5   137   605  742  359  246   52   51  197  3451   46    6  341

In [6]:
data_raw.sample(5)

                  PName POS Team  Age  GP   W   L     Min   PTS  FGM  FGA   FG%  3PM  3PA   3P%  FTM  FTA   FT%  OREB  DREB  REB  AST  TOV  STL  BLK   PF    FP  DD2  TD3  +/-
286            Mo Bamba   C  LAL   24  49  25  24   768.4   323  117  241  48.5   48  124  38.7   41   62  66.1    58   167  225   46   30   13   43  105   800    2    0    8
49   Bennedict Mathurin  SG  IND   20  78  33  45  2222.4  1302  413  951  43.4  100  310  32.3  376  454  82.8    87   231  318  116  152   48   13  162  1889    0    0 -179
124          Chris Paul  PG  PHX   37  59  33  26  1888.6   819  294  668  44.0   98  261  37.5  133  160  83.1    27   224  251  524  114   91   22  126  2131   17    0   84
158        Jusuf Nurkic   C  POR   28  52  24  28  1391.4   694  262  505  51.9   43  119  36.1  127  192  66.1   114   357  471  149  119   43   44  185  1625   18    0    9
179    Keita Bates-Diop  SF  SAS   27  67  18  49  1452.6   647  236  465  50.8   56  142  39.4  119  150  79.3    65   182  247  103   56   46   20   63  1240    0    0 -266

In [9]:
data_raw.describe().T

      count         mean         std    min     25%    50%     75%     max
Age   539.0    25.970315    4.315513   19.0   23.00   25.0    29.0    42.0
GP    539.0    48.040816   24.650686    1.0   30.50   54.0    68.0    83.0
W     539.0    24.018553   14.496366    0.0   12.00   25.0    36.0    57.0
L     539.0    24.022263   13.445866    0.0   14.00   25.0    34.0    60.0
Min   539.0  1103.617625  827.765114    1.0  329.00  970.2  1845.9  2963.2
PTS   539.0   523.426716  498.084360    0.0  120.50  374.0   769.5  2225.0
FGM   539.0   191.576994  178.351286    0.0   45.50  138.0   283.5   728.0
FGA   539.0   403.005566  369.595909    0.0   93.50  300.0   598.5  1559.0
FG%   539.0    46.325232   10.967271    0.0   41.65   45.5    50.6   100.0
3PM   539.0    56.324675   60.916821    0.0    5.00   36.0    92.0   301.0
3PA   539.0   156.148423  160.950881    0.0   17.00  109.0   249.5   731.0
3P%   539.0    31.530612   13.711120    0.0   28.10   34.2    38.5   100.0
FTM   539.0    83.948052  105.681665    0.0   13.50   42.0   113.5   669.0
FTA   539.0   107.384045  129.692484    0.0   18.00   60.0   147.0   772.0
FT%   539.0    71.993506   21.280275    0.0   66.70   76.3    84.1   100.0
OREB  539.0    47.623377   52.119368    0.0   10.00   33.0    63.0   274.0
DREB  539.0   150.630798  137.336246    0.0   36.50  118.0   229.5   744.0
REB   539.0   198.254174  181.819962    0.0   50.50  159.0   286.0   973.0
AST   539.0   115.545455  129.578453    0.0   22.00   69.0   162.5   741.0
TOV   539.0    61.300557   58.279185    0.0   14.50   44.0    92.5   300.0
STL   539.0    33.270872   28.336745    0.0    8.50   28.0    51.0   128.0
BLK   539.0    21.241187   26.529238    0.0    5.00   13.0    28.0   193.0
PF    539.0    91.181818   66.206731    0.0   32.00   86.0   140.0   279.0
FP    539.0  1036.938776  894.081896   -1.0  254.00  810.0  1646.0  3842.0
DD2   539.0     4.011132    8.770932    0.0    0.00    0.0     3.0    65.0
TD3   539.0     0.220779    1.564432    0.0    0.00    0.0     0.0    29.0
+/-   539.0     0.000000  148.223909 -642.0  -70.00   -7.0    57.0   640.0

In [10]:
data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539 entries, 0 to 538
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PName   539 non-null    object
 1   POS     534 non-null    object
 2   Team    539 non-null    object
 3   Age     539 non-null    int64
 4   GP      539 non-null    int64
 5   W       539 non-null    int64
 6   L       539 non-null    int64
 7   Min     539 non-null    float64
 8   PTS     539 non-null    int64
 9   FGM     539 non-null    int64
 10  FGA     539 non-null    int64
 11  FG%     539 non-null    float64
 12  3PM     539 non-null    int64
 13  3PA     539 non-null    int64
 14  3P%     539 non-null    float64
 15  FTM     539 non-null    int64
 16  FTA     539 non-null    int64
 17  FT%     539 non-null    float64
 18  OREB    539 non-null    int64
 19  DREB    539 non-null    int64
 20  REB     539 non-null    int64
 21  AST     539 non-null    int64
 22  TOV     539 non-null    int64
 23  STL     539 non-null    int64
 24  BLK     539 non-null    int64
 25  PF      539 non-null    int64
 26  FP      539 non-null    int64
 27  DD2     539 non-null    int64
 28  TD3     539 non-null    int64
 29  +/-     539 non-null    int64
dtypes: float64(4), int64(23), object(3)
memory usage: 126.5+ KB

In [12]:
data_raw[data_raw['POS'].isna()]

                  PName  POS Team  Age  GP  W  L   Min  PTS  FGM  FGA  FG%  3PM  3PA  3P%  FTM  FTA  FT%  OREB  DREB  REB  AST  TOV  STL  BLK  PF  FP  DD2  TD3  +/-
534    Alondes Williams  NaN  BKN   23   1  1  0   5.3    0    0    0  0.0    0    0  0.0    0    0  0.0     0     1    1    0    2    0    0   1  -1    0    0   -5
535       Deonte Burton  NaN  SAC   29   2  1  1   6.5    0    0    2  0.0    0    1  0.0    0    0  0.0     0     0    0    0    0    0    0   0   0    0    0    5
536       Frank Jackson  NaN  UTA   24   1  0  1   5.0    0    0    3  0.0    0    1  0.0    0    0  0.0     1     1    2    1    0    0    0   0   4    0    0   -2
537  Michael Foster Jr.  NaN  PHI   20   1  1  0   1.0    0    0    0  0.0    0    0  0.0    0    0  0.0     0     0    0    0    0    0    0   0   0    0    0   -2
538      Sterling Brown  NaN  LAL   28   4  2  2  24.4    0    0    4  0.0    0    2  0.0    0    0  0.0     3     5    8    2    0    3    0   4  22    0    0   -4

In [13]:
data_raw.iloc[534, 1] = 'PG'
data_raw.iloc[535, 1] = 'SF'
data_raw.iloc[536, 1] = 'SG'
data_raw.iloc[537, 1] = 'PF'
data_raw.iloc[538, 1] = 'SF'

In [14]:
data_raw[data_raw['POS'].isna()]

Empty DataFrame
Columns: [PName, POS, Team, Age, GP, W, L, Min, PTS, FGM, FGA, FG%, 3PM, 3PA, 3P%, FTM, FTA, FT%, OREB, DREB, REB, AST, TOV, STL, BLK, PF, FP, DD2, TD3, +/-]
Index: []

In [15]:
data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539 entries, 0 to 538
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PName   539 non-null    object
 1   POS     539 non-null    object
 2   Team    539 non-null    object
 3   Age     539 non-null    int64
 4   GP      539 non-null    int64
 5   W       539 non-null    int64
 6   L       539 non-null    int64
 7   Min     539 non-null    float64
 8   PTS     539 non-null    int64
 9   FGM     539 non-null    int64
 10  FGA     539 non-null    int64
 11  FG%     539 non-null    float64
 12  3PM     539 non-null    int64
 13  3PA     539 non-null    int64
 14  3P%     539 non-null    float64
 15  FTM     539 non-null    int64
 16  FTA     539 non-null    int64
 17  FT%     539 non-null    float64
 18  OREB    539 non-null    int64
 19  DREB    539 non-null    int64
 20  REB     539 non-null    int64
 21  AST     539 non-null    int64
 22  TOV     539 non-null    int64
 23  STL     539 non-null    int64
 24  BLK     539 non-null    int64
 25  PF      539 non-null    int64
 26  FP      539 non-null    int64
 27  DD2     539 non-null    int64
 28  TD3     539 non-null    int64
 29  +/-     539 non-null    int64
dtypes: float64(4), int64(23), object(3)
memory usage: 126.5+ KB